
<mat-card class="add-post">
    <mat-card-title>Add Post</mat-card-title>
    <mat-card-content>
        <form [formGroup]="addForm" (ngSubmit)="onSubmit()" class="container">
            <mat-form-field appearance="fill">
                <mat-label>Enter content</mat-label>
                <textarea matInput formControlName="content" rows="10" required></textarea>
                <mat-error *ngIf="submitted && f['content'].errors && f['content'].errors['required']">Content is
                    required</mat-error>
            </mat-form-field>
            <button [disabled]="loading" mat-raised-button color="primary">Add</button>
            <div *ngIf="error" class="alert alert-danger ">{{error}}</div>
        </form>
    </mat-card-content>
</mat-card>