.example-spacer {
    flex: 1 1 auto;
  }

.menu{
    display: flex;
    justify-content: space-between;
    h1{
        font-size: 30px;
    }
    nav{
        a{
            padding: 10px;
            text-decoration: none;
            color: white;
            &:hover{
                color:#ffd740;
            }
        }
        .active-link{
            text-decoration: underline;

        }
    }
}

